{% set pathInfo = app.getRequest().getPathInfo() %}

{# defualt form #}
{% set actionPath = path('messages.store') %}
{% set methodField = '' %}
{% set defaultDisplayName = '' %}
{% set defaultBody = '' %}

{% if pathInfo ends with 'edit' %}
    {% set actionPath = path('messages.update', {'messageId': message.getId()}) %}
    {% set defaultDisplayName = message.getDisplayName() %}
    {% set defaultBody = message.getBody() %}
{% endif %}


<form action="{{ actionPath }}" method="POST">
    {% if pathInfo ends with 'edit' %}
        <input type="hidden" name="_method" value="PUT">
    {% endif %}

    {% if pathInfo ends with 'reply' %}
        <input type="hidden" name="parent_id" value="{{ message.getId() }}">
    {% endif %}

    <label>
        Name
        <input type="text" name="display_name" value="{{ defaultDisplayName }}">
    </label>

    <label>
        Message
        <input type="text" name="body" value="{{ defaultBody }}">
    </label>

    <button type="submit">Submit</button>
</form>
