{% extends "::base.html.twig" %}

{% set pathInfo = app.getRequest().getPathInfo() %}

{% block title %}Message Board{% endblock %}

{% block body %}
    <h1>Message Board</h1>

    <h3>Messages</h3>
    {% include 'AppBundle:Message:list.html.twig' with {'messages': messages} only %}

    {# form #}
    {% set formTitle = 'Add New Message' %}

    {% if pathInfo ends with 'edit' %}
        {% set formTitle = 'Update Message' %}
    {% endif %}

    {% if pathInfo ends with 'reply' %}
        {% set formTitle = "Reply To" %}
    {% endif %}

    <h3>{{ formTitle }}</h3>
    {% if pathInfo ends with 'reply' %}
        <p>{{ message.getDisplayName() }}: {{ message.getBody() }}</p>
    {% endif %}

    {% if message is not defined %}
        {% include 'AppBundle:Message:form.html.twig' only %}
    {% endif %}

    {% if message is defined %}
        {% include 'AppBundle:Message:form.html.twig' with {'message': message} only %}
    {% endif %}
{% endblock %}
